.layout-manager {
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 100px 100px 1fr;
}

.firstElement {
    border: 2px solid yellow;
    grid-row: 1 / span 3;
}
.secondElement {
    border: 2px solid green;
}
.thirdElement {
    border: 2px solid violet;
}


@media only screen and (max-width: 600px) {
    .layout-manager {
        height: 100vh;
        width: 100vw;
        border: 2px solid red;
        display: grid;
        gap: 20px;
        padding: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 200px;
    }
    .firstElement {
        border: 2px solid yellow;
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    .secondElement {
        border: 2px solid green;
    }
    .thirdElement {
        border: 2px solid violet;
    }
}